* {
  font-family: Outfit;
  font-weight: 400, 700;
  padding: 0;
  margin: 0;
}
img {
  height: 250px;
  width: 250px;
}
.bold-text {
  font-size: 20px;
  font-weight: bold;
}
.thin-text {
  font-size: 15px;
  font-weight: 300;
}

body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
}

.box {
  text-align: center;
  display: inline-block;
  padding: 50px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.attribution {
  background-color: rgb(39, 39, 39);
  text-align: center;
  padding: 10px;
  display: block;
}
.attribution p {
  color: azure;
}
.attribution p a {
  color: red;
  text-decoration: none;
}
